.Rproj.user
.Rhistory
.RData
.Ruserdata
/LPJrunTest/*
/ForIgnoring/*
/LPJ_Templates/*
/parameters/*
/Figures/*
/R_scripts/*
/submit_scripts/*
/Site_selection_data/*
/grids/*
/EnvironmentalData/GetClimateRanges.R
/EnvironmentalData/GetEnvironmentalZones.R
/Calculation_effect_sizes/Linear_Regressions_mixed_composition.R
/Plotting/drivers_sensitivity.R
/Plotting/radar_zones.R
/Plotting/Figues_carbon_balance_country_barplot.R
/Plotting/Figues_carbon_balance_per_country.R
/Plotting/Figues_community_composition.R
/ParameterMetaData/Synthese\s Parameter\s Ranges\s -\s Common.csv
/ParameterMetaData/Synthese\s Parameter\s Ranges\s -\s Drivers.csv
/ParameterMetaData/Synthese\s Parameter\s Ranges\s -\s Species-Specific.csv
/ParameterMetaData/SyntheseParameterRanges.csv
/ParameterMetaData/SyntheseParameterRanges2.csv

/EnSv8/*
/EnvironmentalData/co2_values.rds
/EnvironmentalData/drivers.Rmd
/EnvironmentalData/drivers.log
/EnvironmentalData/drivers.tex
/EnvironmentalData/env_data_old.rds
/EnvironmentalData/ph_values.rds

