.Rproj.user
.Rhistory
.RData
.Ruserdata
/LPJrunTest/*
/ForIgnoring/*
/LPJ_Templates/*
/parameters/*
/Figures/*
/R_scripts/*
/submit_scripts/*
/Site_selection_data/*
/grids/*
/EnvironmentalData/GetClimateRanges.R
/EnvironmentalData/GetEnvironmentalZones.R
/Calculation_effect_sizes/Linear_Regressions_mixed_composition.R
/Plotting/drivers_sensitivity.R
/Plotting/radar_zones.R
/Plotting/Figues_carbon_balance_country_barplot.R
/Plotting/Figues_carbon_balance_per_country.R
/Plotting/Figues_community_composition.R
